body {
    color: black;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    justify-content: center;
    align-items: center;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 212, 255, 1) 0%, rgba(9, 9, 121, 1) 50%, rgba(0, 212, 255, 1) 100%);
}

.head {
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 30px;
    color: white;
    text-transform: uppercase;
}

.container {
    display: grid;
    grid-column-gap: 3rem;
    grid-row-gap: 5rem;
    grid-template-areas:
        'a1 a2 a3'
        'a4 a5 a6';
    justify-content: center;
    align-items: center;

}

.col {
    border-radius: 25px 25px 0 0;
    box-shadow: 0 0 200px #cccccc;
    height: 300px;
    width: 200px;
    padding: 50px;
    margin: 20px;
}

#col-1 {
    grid-area: a1;
}

#col-2 {
    grid-area: a2;
}

#col-3 {
    grid-area: a3;
}

#col-4 {
    grid-area: a4;
}

#col-5 {
    grid-area: a5;
}

#col-6 {
    grid-area: a6;
}


@media (max-width: 1250px) {
    .container {

        grid-template-areas:
            'a1 a2'
            'a3 a4'
            'a5 a6';

    }
}

@media (max-width: 750px) {
    .container {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 350px) {
    .container {
        margin: auto;
        height: 100%;
        display: inline-block;
    }

    .col {
        margin-bottom: 150px;
    }

    .head {
        line-height: 40px;
    }

    .head h1 {
        text-align: center;
    }
}

.col img {
    position: relative;
    border-radius: 25px 25px 0 0;
    box-shadow: 0 0 10px #cccccc;
    height: 340px;
    width: 300px;
    bottom: 50px;
    right: 50px;
}

.col .name {
    position: relative;
    color: white;
    border-radius: 0 0 25px 25px;
    box-shadow: 0 0 10px #cccccc;
    background-color: white;
    width: 280px;
    padding: 10px;
    right: 50px;
    bottom: 111px;
    color: black;
    height: 120px;

}

.name h5 {
    font-weight: 600;
    text-transform: capitalize;
    margin-top: 30px;
}

.name p {
    color: #18a1fc;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

.link {
    background: white none repeat scroll 0 0;
    position: relative;
    z-index: 100;
    bottom: 85px;
    box-shadow: 0 0 10px #cccccc;
    display: inline-block;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    width: 50px;
    border-radius: 50%;
}

.fac:hover,
.linkedin:hover {
    cursor: pointer;
}